RewriteEngine On 
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.php -f
RewriteRule ^(.*)$ $1.php [NC,L]
## Redirect from extensions to non-extensions
 RewriteCond %{THE_REQUEST} \s/+(.+?)\.php[\s?] [NC]
 RewriteRule ^ /%1 [R=301,NE,L]  





<ifModule mod_headers.c> 
    Header set Access-Control-Allow-Origin *
   Header set Referrer-Policy "origin"


</ifModule>
# TN START GZIP COMPRESSION


